
<div class="header">
  <h2> Novo Cadastro de Cliente</h2>
  </div>
  

<div class ="container-sm">
  <h1>Cadastro Cliente</h1>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nome_cliente">Nome</label>
      <input #nome_cliente type="text" class="form-control" id="nome_cliente" placeholder="nome_cliente">
    </div>
    <div class="form-group col-md-6">
      <label for="data_nasc_cliente">Data Nascimento</label>
      <input #data_nasc_cliente type="date" class="form-control" id="data_nasc_cliente" placeholder="data_nasc_cliente">
    </div>
  </div>
  <div class = "form-row">
    <div class="form-group col-md-6">
      <label for="cpf_cliente">CPF</label>
      <input #cpf_cliente type="text" class="form-control" id="cpf_cliente" placeholder="cpf_cliente">
    </div>
    <div class="form-group col-md-6">
      <label for="rg_cliente">RG </label>
      <input #rg_cliente type="text" class="form-control" id="rg_cliente" placeholder="rg_cliente">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="est_civil_cliente">Estado Civil</label>
      <input #est_civil_cliente type="text" class="form-control" id="est_civil_cliente">
    </div>
    <div class="form-group col-md-4">
      <label for="tel_cliente">Telefone</label>
      <input #tel_cliente id="tel_cliente" class="form-control" id="tel_cliente">
    </div>
    <div class="form-group col-md-2">
      <label for="formacao_cliente">Formação</label>
      <input #formacao_cliente type="text" class="form-control" id="formacao_cliente">
    </div>
  </div>

  <h4>Endereço</h4>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="rua">Rua</label>
      <input #rua type="text" class="form-control" id="rua" placeholder="rua">
    </div>
    <div class="form-group col-md-2">
      <label for="num"> Numero</label>
      <input #num type="text" class="form-control" id="num" placeholder="num">
    </div>
    <div class="form-group col-md-2">
      <label for="andar">Andar</label>
      <input #andar type="text" class="form-control" id="andar" placeholder="andar">
    </div>
    <div class="form-group col-md-2">
      <label for="bloco">Bloco</label>
      <input #bloco type="text" class="form-control" id="bloco" placeholder="bloco">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="cep">CEP</label>
      <input #cep type="text" class="form-control" id="cep" placeholder="cep">
    </div>
    <div class="form-group col-md-4">
      <label for="cidade">Cidade</label>
      <input #cidade type="text" class="form-control" id="cidade" placeholder="cidade">
    </div>
    <div class="form-group col-md-4">
      <label for="estado">Estado</label>
      <input #estado type="text" class="form-control" id="estado" placeholder="estado">
    </div>
  </div>
</form>

<input class= 'btn btn-dark' type="button" (click)="insereNovoCliente(nome_cliente.value, data_nasc_cliente.value, cpf_cliente.value, rg_cliente.value, est_civil_cliente.value, tel_cliente.value, formacao_cliente.value,
  rua.value, num.value, andar.value, bloco.value, cidade.value, cep.value, estado.value)" value="Inserir"> &nbsp;|&nbsp; <input class= 'btn btn-dark' type="button" routerLink="/clientes" value="Voltar">
</div>
