<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div class="header">
    <h2> Sistema Imobiliária</h2>
</div>
 
<div class='home'>

    <form action=""> 
        <tr>
            Exibe, Cadastra, Altera e Deleta Cliente
            <p><button class='btn btn-dark' routerLink="/clientes">Clientes</button></p>
            
        </tr>
        <tr>
            Exibe, Cadastra, Altera e Deleta Proprietários
            <p><button class='btn btn-dark' routerLink="/proprietarios">Proprietários</button></p>
        
        <tr>
            Exibe, Cadastra, Altera e Deleta Imoveis
            <p> <button class='btn btn-dark' routerLink="/imoveis">Imoveis</button></p>
        </tr>
        <tr>
            Exibe, Cadastra, Altera e Deleta Compras
            <p><button class='btn btn-dark' routerLink="/compras">Compras</button></p>
        </tr>
        <tr>
            Exibe, Cadastra, Altera e Deleta Gastos
            <p><button class='btn btn-dark' routerLink="/gastos">Gastos</button></p>
         </tr>
    </form> 
</div>

<footer class='footer'> Sistema em construção </footer>