<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div class="header">
<h2> Proprietários Cadastrados no Sistema</h2>
</div>



Pesquisa: <input type="text" id="pesquisa" name="pesquisa" #pesquisa (keyup)="0" >
<br>
{{pesquisa.value}}
<br>
<div overflow-x:auto>
  <table class="table" >
    <tr style="text-align: left;">
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Data</th>
      <th scope="col">CPF</th>
      <th scope="col">RG</th>
      <th scope="col">Estado Civil</th>
      <th scope="col">Tel/Cel</th>
      <th scope="col">Formacão</th>
      <th scope="col">Tempo Imóvel</th>
      
    </tr>
    <tr *ngFor="let prop of proprietarios">
        <td>{{ prop.id_prop }}</td>
        <td>{{ prop.nome_prop }}</td>
        <td>{{ prop.data_nasc_prop | date: 'dd/MM/yyyy' }}</td>
        <td>{{ prop.cpf_prop }}</td>
        <td>{{ prop.rg_prop }}</td>
        <td>{{ prop.est_civil_prop }}</td>
        <td>{{ prop.tel_prop }}</td>
        <td>{{ prop.formacao }}</td>
        <td>{{ prop.temp_imovel }}</td>
        

        <input type="hidden" #propid name="propid" id="propid" value="{{prop.prop}}" />
      
      <td><button class='btn btn-dark' [routerLink]="['/altera-proprietario']" [queryParams]="{id:prop.id_prop}">Alterar</button></td>
      <td><button class='btn btn-dark' >Excluir</button></td>
  </tr>
</table>

<button class='btn btn-dark' routerLink="/home">Home</button> &nbsp;|&nbsp; <button class= 'btn btn-dark'routerLink="/novo-proprietario">Novo Proprietario</button>
